/CVS
/data
/PaxHeaders.32765
/runtime
/runtimed
*.xml
*.exp
*.exe
*.dll
*.def
*.dvi
*.conf
*.m4
*.html
*rgb
*.bat
*.png
*.ico
*.mk
*.rc
*.desktop
*.obj
*.sbr
*.idb
*.pdb
*.htm
*.suo
*.sln
*.bsc
*.user
*.ncb
*.map
*.lib
*.rsp